/* You can add global styles to this file, and also import other style files */

@use './styles/buttons.scss' as buttons;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%; // = 16px
}

@media (max-width: 900px) {
    html {
        font-size: 75%;
    }
}